.logo {
  width: 150px;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: end;
  flex-grow: unset;
}
.navLink {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  color: #1d3557;
  transition-duration: 200ms;
  &:hover {
    transition-duration: 200ms;
    border-bottom: 5px solid #1d3557;
  }
}
.navLinkIcon {
  padding: 10px;
}
#iconWrapper {
  width: 150px;
  justify-content: end;
  .navIcon {
    height: 30px;
  }
}