@import "../../scss-styles/mixins";

.heroContainer {
  display: flex;
  justify-content: end;
  align-items: start;
  background-image: url("https://plus.unsplash.com/premium_photo-1668430856973-71bab7f579be?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1600/600;
  padding: 40px;

  .heroHeading {
    @include font-size(55px, 42px);
    margin: 0;
    color: #fff;
  }
}
