.product-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .product-image {
    background-repeat: no-repeat;
    width: 100%;
    min-height: 350px;
    background-size: cover;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  button {
    width: 80%;
    opacity: 0.7;
    display: none;
  }
  &:hover {
    button {
      opacity: 0.85;
      display: flex;
    }
  }
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    .name {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 992px) {
  .product-card-container {
    button {
      display: flex;
    }
    .footer {
      font-size: 13px;
    }
  }
}

@media (max-width:576px) {
  .product-card-container {
    .product-image {
      min-height: 250px;
      button {
        align-items: center;
        height: 35px;
        width: 100%;
        margin: 0 10px;
      }
    }
  }
}